* {

    font-family: 'Roboto Serif', serif;
    font-family: 'Raleway', sans-serif;
    max-width: calc(100vw);
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.navbar-brand img {
    height: 25px;
    padding-left: 10px;
}

.navbar-nav li {
    padding: 0 20px;
}

#nav-bar .btn-dark {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    width: 180px;
}

.navbar-nav li a {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
    font-size: 16px;
}



/* nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
} */

#navbar a {
    display: inline;
    justify-content: space-between;
    padding-left: 30px !important;
}

/* ------------------------------------------- */

#first-page {
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background: radial-gradient(circle, rgba(248, 188, 180, 1) 0%, rgba(255, 255, 255, 1) 40%); */
    background-image: radial-gradient(circle, rgba(251, 217, 212, 1) 0%, rgba(255, 255, 255, 1) 26%);
}

.sparkle-icon {
    height: 12px !important;
}

#first-left {
    position: relative;
    top: 20vh;
}

#first-page h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 800 !important;
    font-size: 40px !important;

}

#first-left p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400px;
    font-size: 20px;
}

#analysis-box {
    position: relative;
    top: 50px;
    right: 10px;
    background: rgb(231, 235, 252);
    background-image: linear-gradient(80deg, rgba(231, 235, 252, 1) 0%, rgba(251, 234, 226, 1) 90%, rgba(240, 234, 239, 1) 100%);
    padding: 10px;
    border-radius: 10px;

}

#analysis-box h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#analysis-box p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#score-box {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

#subject-card {
    background: rgba(250, 250, 252, 1);
    z-index: 1;
    position: absolute;
    top: 35vh;
    right: 30vw;
    border-radius: 10px;
    width: 350px;
    /* max-height: 248px; */


}

#subject-card .dot {
    height: 42px;
    width: 42px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;

}

#subject-card h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#subject-card p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: grey;
}

#subject-card .progress {
    height: 6px;
}

.btn-orange {
    background-color: #ED5C0D !important;
}



/* ------------------------------------------- */

#second-page {
    min-height: 70vh;
    width: 100%;
    position: relative;
}

#second-page h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 800;
    font-size: 40px !important;
}

#second-page h4 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    font-size: 26px !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

#second-page p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px !important;
}

#second-page .card {
    height: 400px !important;
    padding: 30px 10px !important;
    border: 0 !important;
}

#card1 {
    background: #D2EDEB;

}

#card2 {
    background: #F8DCCD;

}

#card3 {
    background: #F5EBD4;

}

/* ------------------------------------------- */

#third-page {
    min-height: 70vh;
    width: 100%;
    position: relative;

}

#third-page h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 800;
    font-size: 40px !important;
}

#third-left {
    background: #FAFAFA;
    min-height: 500px !important;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

#third-right {
    background: linear-gradient(43.47deg, #E3EBFF 1.07%, #FFEADE 98%);
    min-height: 500px !important;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.nav-item {
    padding-right: 30px !important;
}

#third-page .nav-pills {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 16px;

}

#third-page .nav-link.active {
    background: #ED5C0D !important;
    color: #fff !important;
    border: solid #ED5C0D !important;
}

#third-page .nav-link {
    border: solid #0000001F !important;
    background-color: #fff !important;
    color: black !important;
}

#third-page .heading {
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    font-weight: 700;
    color: #959697 !important;

}

#third-page .question-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    font-weight: 700;
    color: #111111 !important;
}

#third-page .answer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    font-weight: 500;
    color: #111111;
}

#third-right h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1E1E1E;
}

/* ----------------------------------------------------------------------- */

#fourth-page {
    min-height: 70vh;
    width: 100%;
    position: relative;
}

#fourth-page h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 800;
    font-size: 40px !important;

}

.caption-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px !important;
}

#fourth-page .card {
    background: #FFF8F3;
    border: none;
    border-radius: 16px;
    min-height: 300px;
    padding-left: 20px !important;
}

#fourth-page h2 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 800;
    font-size: 40px !important;
    color: #ED5C0D !important;
    padding-top: 20px;
}

#fourth-page h4 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
    font-size: 24px !important;
    padding-top: 10px;

}

#fourth-page p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16 px !important;
    padding-top: 20px;
}

/* ----------------------------------------------------------------------- */

#fifth-page {
    min-height: 70vh;
    width: 100%;
    position: relative;
    padding-top: 100px
}

.orange-box {
    background: #ED5C0D;
    height: 300px;
    padding-left: 40px;
    border-radius: 20px;
}

#fifth-page h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    font-size: 32px !important;
    color: #fff;
    padding-top: 40px;
}

#fifth-page p {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    color: #fff;
    padding-top: 10px;
}

#fifth-page button {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 200px
}

.box-image {
    position: relative;
    bottom: 100px;
    left: 180px;

}


.databox {
    position: relative;
    margin-top: 15vh;
    height: 128px;
    background: linear-gradient(90deg, rgba(247, 243, 255, 1) 3.47%, rgba(255, 247, 234, 1) 92.53%);

}




.progress-bar {
    background-color: rgba(255, 129, 74, 1) !important;

}

#green-text {
    background: rgba(89, 180, 114, 0.1);
    border-radius: 8px;
    color: rgba(89, 180, 114, 1);
    font-family: 'Figtree', 'sans-serif';
    font-weight: 600;

}

.subject-card {

    position: relative;
    width: 272px;
    height: 248px;
    top: 404px;
    left: 10vw;
}

.cardbox2 {

    width: 416px;
    height: 470px;
    border-radius: 20px;

}

#footer {
    min-height: 70vh;
    width: 100%;
    position: relative;
    background: #FAFAFA;
    padding-top: 20px;

}

#footer li {
    list-style-type: none;

}

#footer ul {
    padding-left: 0;
}

.footer-end {
    position: absolute;
    bottom: 0;
}

.footer-heading {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    font-size: 24px !important;
}

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px !important;

}